<h1>New Quiz</h1>

<form action="/createQuiz" method="post">
  <input name="quizName" <%= quiz?"disabled":""%> value="<%= quiz?quiz.quizName:""%>" placeholder="quiz name">
  <input name="course" <%= quiz?"disabled":""%> value="<%= quiz?quiz.course:""%>" placeholder="course name">
  <input name="teacherId" type="hidden" value="<%=user.local.email%>" placeholder="teacher id">
  <input name="dueDate" value="<%= quiz?quiz.dueDate:""%>" placeholder="dueDate">
  <input name="description" <%= quiz?"disabled":""%> value="<%= quiz?quiz.description:""%>" placeholder="description">
      <label for="">Question</label>
      <input name="prompt" value="" placeholder="prompt">
      <label for="">Answers</label>
      <input class="" type="text" name="answerA" value="" placeholder="solution">
      <input class="" type="text" name="answerB" value="" placeholder="solution">
      <input class="" type="text" name="answerC" value="" placeholder="solution">
      <input class="" type="text" name="answerD" value="" placeholder="solution">
      <label for="">Correct Answer</label>
      <select class="" name="correctAnswer">
        <option class="" value="0">A</option>
        <option class="" value="1">B</option>
        <option class="" value="2">C</option>
        <option class="" value="3">D</option>
      </select>
  <button value="done" type="submit" name="done">Save Question & Finish Quiz</button>
  <button value="continue" type="submit" name="continue">Save Question & Continue</button>
</form>
