<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="owl.transitions.css">
    <link rel="stylesheet" href="owl.theme.css">
    <link rel="stylesheet" href="jquery.fancybox.css">
    <link rel="stylesheet" href="fontello.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="audioplayer.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Survey Results</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand text-white" href="/">Balance Ed</a>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item"><div class="page-header text-center">
          <a href="/logout" class="nav-link text-white">Logout</a>
      </div></li>
    </ul>

    </nav>


    <div class="quizQuestions container">
      <br>
      <br>
      <form class="" action="/studentResponse" method="post">

        <div class="form-group">
          <label for="questions">Please Answer The Questions Below</label>
          <span>1 being the worst and 5 being the best</span>
          <input id="questions" type="hidden" name="surveyId" value="<%=survey._id%>">
        </div>
      <ol>
        <% for(var i = 0; i < survey.questions.length; i++) { %>
            <li>
              <div class="form-group">
                <%=survey.questions[i].prompt%>
                <input class="form-control" type="hidden" name="" value="">
                <br>
                    <span>
                      <%=survey.questions[i].optionsA%>
                      <input type="radio" name="options<%=i%>" value="0">
                    </span>
                    <br>
                    <span>
                      <%=survey.questions[i].optionsB%>
                      <input type="radio" name="options<%=i%>" value="1">
                    </span>
                    <br>
                    <span><%=survey.questions[i].optionsC%>
                      <input type="radio" name="options<%=i%>" value="2">
                    </span>
                    <br>
                    <span><%=survey.questions[i].optionsD%>
                      <input type="radio" name="options<%=i%>" value="3">
                    </span>
                    <br>
                    <span><%=survey.questions[i].optionsE%>
                      <input type="radio" name="options<%=i%>" value="4">
                    </span>
                    <br>
                    <span><%=survey.questions[i].comments%>
                      <input type="text" name="coptions<%=i%>" value="" placeholder="any questions comments or concerns?">
                    </span>
              </div>
            </li>
        <% } %>
      </ol>
      <br>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
    </div>
  </body>
</html>
